@model ShopViewModel
@{
    ViewData["Title"] = "Detail";
}

  <section id="prodetails" class="section-p1">
      <div class="single-pro-image">
        <img src="~/admin/assets/database/products/mainimg/@Model.Products.First().Photo" width="100%" id="MainImg" alt="" />

        <div class="small-img-group">
          <div class="small-img-col">
            <img src="~/admin/assets/database/products/mainimg/@Model.Products.First().Photo"
              width="100%"
              class="small-img"
              alt=""
            />
          </div>
            @foreach (var item in Model.ProductImages)
            {      
          <div class="small-img-col">
            <img style="max-width:130.48px; max-height:130.48px;" src="~/admin/assets/database/products/productimg/@item.Photo"
              width="100%"
              class="small-img"
              alt=""
            />
          </div>
            }
        </div>
      </div>
      <div class="single-pro-details">
        <h6>Home / T-Shirt</h6>
        <h4>@Model.Products.First().Name</h4>
        <h2>$@Model.Products.First().Price</h2>
        <select>
          <option>Select Size</option>
          @foreach (var item in Model.Sizes)
            {
             <option>@item.Name</option>
                
            }
        </select>
        <input type="number" value="1" min="1" max="100" />
        <button class="normal">Add To Cart</button>
        <h4>Product Details</h4>
        <span
          >@Model.Products.First().Description
        </span>
      </div>
    </section>

    <section id="product1" class="section-p1">
      <h2>Featured Products</h2>
      <p>Summer Collection New Morden Design</p>
      <div class="pro-container">
        @await Component.InvokeAsync("Product", new { takeFour = true, orderByCreated = false })
      </div>
    </section>

    <section id="newsletter" class="section-p1 section-m1">
      <div class="newstext">
        <h4>Sign Up For Newsletters</h4>
        <p>
          Get E-mail updates about our latest shop and
          <span>special offers.</span>
        </p>
      </div>
      <div class="form">
        <input type="text" placeholder="Your email address" />
        <button class="normal">Sign Up</button>
      </div>
    </section>

