@model ShopViewModel
@{
    ViewData["Title"] = "Index";
}

  <section id="page-header" class="darkmode-ignore">
    @foreach (var banner in Model.ShopBanners)
    {
        <img src="~/admin/assets/database/headbanners/@banner.Photo" alt="Header Image" class="header-image" />
        <h2>@banner.Title</h2>
        <p>@banner.Description</p>
    }
    </section>

    <section id="search" class="section-p1">
      <div>
        <form>
          <i class="fas fa-search"></i>
          <input
            type="text"
            id="search-item"
            placeholder="Search products"
            onkeyup="searchPro()"
          />
        </form>
      </div>
    </section>

    <section id="category_filter" class="section-p1">
      <div id="buttons">
        <button class="button-value btnActive">All</button>
        <button class="button-value">Topwear</button>
        <button class="button-value">Bottomwear</button>
        <button class="button-value">Jacket</button>
        <button class="button-value">Other</button>
      </div>
    </section>

    <section id="product1" class="section-p1">
      <div class="pro-container" id="pro-container">
        <div class="pro" onclick="window.location.href='sproduct.html';">
          <img src="~/assets/img/products/f1.jpg" alt="" />
          <div class="des">
            <span>adidas</span>
            <h5>Caartoon Astronaut T-Shirts</h5>
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>$78</h4>
          </div>
          <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro" onclick="window.location.href='sproduct.html';">
          <img src="~/assets/img/products/f2.jpg" alt="" />
          <div class="des">
            <span>adidas</span>
            <h5>Caartoon Astronaut T-Shirts</h5>
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>$78</h4>
          </div>
          <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro" onclick="window.location.href='sproduct.html';">
          <img src="~/assets/img/products/f3.jpg" alt="" />
          <div class="des">
            <span>adidas</span>
            <h5>Caartoon Astronaut T-Shirts</h5>
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>$78</h4>
          </div>
          <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro" onclick="window.location.href='sproduct.html';">
          <img src="~/assets/img/products/f4.jpg" alt="" />
          <div class="des">
            <span>adidas</span>
            <h5>Caartoon Astronaut T-Shirts</h5>
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>$78</h4>
          </div>
          <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro" onclick="window.location.href='sproduct.html';">
          <img src="~/assets/img/products/f5.jpg" alt="" />
          <div class="des">
            <span>adidas</span>
            <h5>Caartoon Astronaut T-Shirts</h5>
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>$78</h4>
          </div>
          <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro" onclick="window.location.href='sproduct.html';">
          <img src="~/assets/img/products/f6.jpg" alt="" />
          <div class="des">
            <span>adidas</span>
            <h5>Caartoon Astronaut T-Shirts</h5>
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>$78</h4>
          </div>
          <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro" onclick="window.location.href='sproduct.html';">
          <img src="~/assets/img/products/f7.jpg" alt="" />
          <div class="des">
            <span>adidas</span>
            <h5>Asimanin T-Shirts</h5>
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>$78</h4>
          </div>
          <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro" onclick="window.location.href='sproduct.html';">
          <img src="~/assets/img/products/f8.jpg" alt="" />
          <div class="des">
            <span>adidas</span>
            <h5>Caartoon Astronaut T-Shirts</h5>
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>$78</h4>
          </div>
          <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro" onclick="window.location.href='sproduct.html';">
          <img src="~/assets/img/products/n1.jpg" alt="" />
          <div class="des">
            <span>adidas</span>
            <h5>Caartoon Astronaut T-Shirts</h5>
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>$78</h4>
          </div>
          <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro" onclick="window.location.href='sproduct.html';">
          <img src="~/assets/img/products/n2.jpg" alt="" />
          <div class="des">
            <span>adidas</span>
            <h5>Caartoon Astronaut T-Shirts</h5>
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>$78</h4>
          </div>
          <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro" onclick="window.location.href='sproduct.html';">
          <img src="~/assets/img/products/n3.jpg" alt="" />
          <div class="des">
            <span>adidas</span>
            <h5>Caartoon Astronaut T-Shirts</h5>
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>$78</h4>
          </div>
          <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro" onclick="window.location.href='sproduct.html';">
          <img src="~/assets/img/products/n4.jpg" alt="" />
          <div class="des">
            <span>adidas</span>
            <h5>Caartoon Astronaut T-Shirts</h5>
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>$78</h4>
          </div>
          <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro" onclick="window.location.href='sproduct.html';">
          <img src="~/assets/img/products/n5.jpg" alt="" />
          <div class="des">
            <span>adidas</span>
            <h5>Caartoon Astronaut T-Shirts</h5>
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>$78</h4>
          </div>
          <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro" onclick="window.location.href='sproduct.html';">
          <img src="~/assets/img/products/n6.jpg" alt="" />
          <div class="des">
            <span>adidas</span>
            <h5>Caartoon Astronaut T-Shirts</h5>
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>$78</h4>
          </div>
          <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro" onclick="window.location.href='sproduct.html';">
          <img src="~/assets/img/products/n7.jpg" alt="" />
          <div class="des">
            <span>adidas</span>
            <h5>Caartoon Astronaut T-Shirts</h5>
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>$78</h4>
          </div>
          <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro" onclick="window.location.href='sproduct.html';">
          <img src="~/assets/img/products/n8.jpg" alt="" />
          <div class="des">
            <span>adidas</span>
            <h5>Caartoon Astronaut T-Shirts</h5>
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>$78</h4>
          </div>
          <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
      </div>
    </section>

    <section id="pagination" class="section-p1">
      <a href="#">1</a>
      <a href="#">2</a>
      <a href="#"><i class="fal fa-long-arrow-alt-right"></i></a>
    </section>

    <section id="newsletter" class="section-p1 section-m1">
      <div class="newstext">
        <h4>Sign Up For Newsletters</h4>
        <p>
          Get E-mail updates about our latest shop and
          <span>special offers.</span>
        </p>
      </div>
      <div class="form">
        <form method="post" action="/subscribe/create" target="_blank" novalidate style="width:100%; display:flex">
            <input name="Email" asp-area="Admin" asp-controller="Subscribe" asp-action="Create" type="text" placeholder="Your email address" />
            <button name="subscribe" type="submit" class="normal">Sign Up</button>
        </form>
      </div>
    </section>

