@using Cara.WebUI.Areas.Admin.ViewModels.AuthorBlog;
@model AuthorUpdateVM
@{
    ViewData["Title"] = "Update";
}

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Update Author</h4>
            <h4 class="card-title" style="margin-top:40px">Current Author Photo</h4>
            <img src="~/admin/assets/database/@Model.ImagePath" width="100" alt="Alternate Photo" />
            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Image</label>
                    <input type="file" asp-for="Photo" class="form-control file-upload-browse btn btn-primary" accept="image/*" placeholder="Image">
                    <span class="text-danger" asp-validation-for="Photo"></span>
                </div>
                <div class="form-group">
                    <label>Fullname</label>
                    <input asp-for="Fullname" class="form-control" placeholder="Fullname">
                    <span class="text-danger" asp-validation-for="Fullname"></span>
                </div>
                <div class="form-group">
                    <label>Profession</label>
                    <input asp-for="Profession" class="form-control" placeholder="Profession">
                    <span class="text-danger" asp-validation-for="Profession"></span>
                </div>
                <div class="form-group">
                    <label>Phone Number</label>
                    <input asp-for="Phone" class="form-control" placeholder="Phone Number">
                    <span class="text-danger" asp-validation-for="Phone"></span>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input asp-for="Email" class="form-control" placeholder="Email">
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>
                <button type="submit" class="btn btn-warning mr-2">Update</button>
                <a asp-action="Index" class="btn btn-light">Cancel</a>
            </form>
        </div>
    </div>
</div>

