@model FaqViewModel
@{
    ViewData["Title"] = "Index";
}

<section id="total-faq">
    <div id="faq">
        <h2>Frequently Asked Questions</h2>
        @foreach (var item in Model.Faqs)
        {
        <div class="faq-item">
            <div class="faq_question">
                <h3>@item.Question</h3>
            </div>
            <div class="faq_answer">
                <p>
                    @item.Answer
                </p>
            </div>
        </div>
        }
    </div>            

    <div id="faq-img">
        <img src="~/assets/img/help/Untitled-3.png" alt="" />
    </div>
</section>

<section id="newsletter" class="section-p1 section-m1">
    <div class="newstext">
        <h4>Sign Up For Newsletters</h4>
        <p>
            Get E-mail updates about our latest shop and
            <span>special offers.</span>
        </p>
    </div>
    <div class="form">
        @await Component.InvokeAsync("Subscribe")
    </div>
</section>

