
@{
    ViewData["Title"] = "Index";
}

<section id="total-faq">
    <div id="faq">
        <h2>Frequently Asked Questions</h2>
        <div class="faq-item">
            <div class="faq_question">
                <h3>How do I create an account?</h3>
            </div>
            <div class="faq_answer">
                <p>
                    To create an account, click on the "Sign Up" button at the top
                    right corner of the page. Provide your details and follow the
                    instructions to set up your account.
                </p>
            </div>
        </div>
        <div class="faq-item">
            <div class="faq_question">
                <h3>Can I track my order?</h3>
            </div>
            <div class="faq_answer">
                <p>
                    Yes, you can track your order by visiting the "Order Tracking"
                    section in your account. Enter your order number and email to get
                    real-time updates on your shipment.
                </p>
            </div>
        </div>
        <div class="faq-item">
            <div class="faq_question">
                <h3>What is your return policy?</h3>
            </div>
            <div class="faq_answer">
                <p>
                    Our return policy allows you to return products within 30 days of
                    purchase for a full refund. Make sure the items are in their
                    original condition and packaging.
                </p>
            </div>
        </div>
        <div class="faq-item">
            <div class="faq_question">
                <h3>How can I contact customer support?</h3>
            </div>
            <div class="faq_answer">
                <p>
                    You can contact our friendly customer support team by emailing
                    support@example.com or by calling our toll-free number at
                    1-800-123-4567.
                </p>
            </div>
        </div>
    </div>

    <div id="faq-img">
        <img src="~/assets/img/help/Untitled-3.png" alt="" />
    </div>
</section>

<section id="newsletter" class="section-p1 section-m1">
    <div class="newstext">
        <h4>Sign Up For Newsletters</h4>
        <p>
            Get E-mail updates about our latest shop and
            <span>special offers.</span>
        </p>
    </div>
    <div class="form">
        <input type="text" placeholder="Your email address" />
        <button class="normal">Sign Up</button>
    </div>
</section>

