@{
    var isAuthenticated = User.Identity.IsAuthenticated;
    var username = isAuthenticated ? User.Identity.Name : null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cara - @ViewBag.Title</title>
    <link rel="stylesheet"
          href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="~/assets/style.css" />
</head>
<body>
    <section id="header">
        <a asp-controller="Home" asp-action="Index"><img src="~/assets/img/logo.png" class="logo" alt="" /></a>

        <div>
            <ul id="navbar">
                <li><a asp-controller="Home" asp-action="Index" data-page="Home">Home</a></li>
                <li><a asp-controller="Shop" asp-action="Index" data-page="Shop">Shop</a></li>
                <li><a asp-controller="Blog" asp-action="Index" data-page="Blog">Blog</a></li>
                <li><a asp-controller="About" asp-action="Index" data-page="About">About</a></li>
                <li><a asp-controller="Contact" asp-action="Index" data-page="Contact">Contact</a></li>
                @if(isAuthenticated)
                { 
                    <li id="lg-bag" class="usernameSpan">
                         @{
                            var truncatedUsername = username.Length > 7 ? username.Substring(0, 7) + new string('*', 4) : username;
                          }
                        @truncatedUsername<a data-page="Auth" asp-controller="Auth" asp-action="Logout"><i class="far fa-sign-out" style="margin-left:5px"></i></a>
                    </li>
                }
                else{
                <li id="lg-bag">
                        <a data-page="Auth" asp-controller="Auth" asp-action="Login"><i class="far fa-user-alt"></i></a>
                </li>
                }
                <li id="lg-bag" class="shoppingCard">
                    <a data-page="Cart" asp-controller="Cart" asp-action="Index">
                        <i class="far fa-shopping-bag">
                            <span class="quantity">0</span>
                        </i>
                    </a>
                </li>
                <a href="#" id="close"><i class="far fa-times"></i></a>
            </ul>
        </div>
        <div id="mobile">
             @if(isAuthenticated)
                {
                <span id="usernameSpan">
                    @{
                        var truncatedUsername = username.Length > 7 ? username.Substring(0, 7) + new string('*', 4) : username;
                    }
                    @truncatedUsername<a data-page="Auth" asp-controller="Auth" asp-action="Logout"><i class="far fa-sign-out" style="margin-left:5px"></i></a>
                </span>
                }
                else{
                <a data-page="Auth" asp-controller="Auth" asp-action="Login"><i class="far fa-user-alt"></i></a>
            }
            <a data-page="Cart" asp-controller="Cart" asp-action="Index">
                <i class="far fa-shopping-bag">
                    <span class="quantity">0</span>
                </i>
            </a>
            <i id="bar" class="fas fa-outdent"></i>
        </div>
    </section>
        @RenderBody()
    <footer class="section-p1">
      <div class="col">
        <img class="logo" src="~/assets/img/logo.png" alt="" />
        <h4>Contact</h4>
        <p>
          <strong>Address:</strong> Xırdalan şəhəri Nizami küçəsi 17, Döngə 4,
          Dalan 7
        </p>
        <p><strong>Phone:</strong> (+994) 50 977 77 36</p>
        <p><strong>Hours:</strong> 10:00 - 18:00, Mon - Sat</p>
        <div class="follow">
          <h4>Follow us</h4>
          <div class="icon">
           <a href="https://www.facebook.com/huseyn.ehedzade.75/"><i class="fab fa-facebook-f"></i></a>
           <a href="https://twitter.com/?lang=en"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/ehdzdechvrlix/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/h%C3%BCseyn-%C9%99h%C9%99dzad%C9%99-a3b47624a/"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.youtube.com/channel/UCSWwIKM0URYPars0BolQjLw"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
      </div>

      <div class="col">
        <h4>About</h4>
        <a asp-controller="About" asp-action="Index" data-page="About">About Us</a>
        <a asp-controller="Delivery" asp-action="Index">Delivery Information</a>
            <a asp-controller="Privacy" asp-action="Index">Privacy Policy</a>
        <a asp-controller="Terms" asp-action="Index">Terms & Conditions</a>
        <a
          href="mailto:azmoodcompany@gmail.com?subject=Contact&body=Hello,%0AI need help."
          target="_blank"
          >Contact Us</a
        >
      </div>

      <div class="col">
        <h4>My Account</h4>
        <a asp-controller="Auth" asp-action="Login">Sign In</a>
        <a asp-controller="Cart" asp-action="Index">View Cart</a>
        <a asp-controller="Owner" asp-action="Index">Owner</a>
        <a asp-controller="Team" asp-action="Index">Our Team</a>
        <a asp-controller="Faq" asp-action="Index">Help</a>
      </div>

      <div class="col install">
        <h4>Install App</h4>
        <p>From App Store or Google Play</p>
        <div class="row">
          <img src="~/assets/img/pay/app.jpg" alt="" />
          <img src="~/assets/img/pay/play.jpg" alt="" />
        </div>
        <p>Secured Payment Gateways</p>
        <img src="~/assets/img/pay/pay.png" alt="" />
      </div>

      <div class="copyright">
        <p>©2023, <a href="https://github.com/ChvrlixH" style="color:limegreen">Huseyn Ahadzada</a> - Founder and CEO of Azmood Company</p>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.7.0.js"
      integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
      crossorigin="anonymous"
    ></script>
    <script src="~/assets/script.js"></script>
  </body>
</html>