@model Comment
@{
    ViewData["Title"] = "Detail";
}

<div class="col-lg-12" style="padding-left:55px">
	<div style="max-width:500px; height:auto; margin-bottom: 25px;">
		<img src="~/admin/assets/database/comments/@Model.Photo" style="width:100%; height:auto; " />
	</div>
	<h4> <span style="color:red">Fullname:</span> @Model.Fullname</h4>
	<h4> <span style="color:red">Profession:</span> @Model.Profession</h4>
	<h4> <span style="color:red">Description:</span> @Model.Description</h4>
	<a class="btn btn-info" asp-action="Index" style="margin-top:30px">Go Back</a>
</div>

