
@{
    ViewData["Title"] = "Index";
}

<section id="delivery">
    <div>
        <h1>Cara U.S. Shipping Policy</h1>
        <h2>Contents</h2>
        <ol>
            <li><a href="#where-we-ship">Where We Ship</a></li>
            <li><a href="#processing">Processing</a></li>
            <li>
                <a href="#shipping-rates-and-timing">Shipping Rates & Timing</a>
            </li>
            <li><a href="#tracking-your-order">Tracking Your Order</a></li>
            <li>
                <a href="#lost-stolen-or-damaged-orders">Lost, Stolen, or Damaged Orders</a>
            </li>
            <li><a href="#how-to-contact-us">How to Contact Us</a></li>
        </ol>
        <p>
            Thank you for shopping at Cara. All orders from Cara are subject to
            our shipping policy, outlined below. If you have any questions about
            our shipping practices, please contact our dedicated support team at
            azmoodcompany@gmail.com.
        </p>

        <h2 id="where-we-ship">Where We Ship</h2>
        <p>
            Cara is pleased to provide domestic and international shipping
            options. Please [click here] for more information about international
            shipping.
        </p>

        <p>
            Cara offers shipping to all USA states, territories, and even APO/FPO
            addresses.
        </p>

        <h3 id="processing">Processing</h3>
        <p>We process orders during our normal business hours.</p>
        <p>
            When an order comes in, our dedicated team begins fulfilling it right
            away.
        </p>
        <p>
            We make every effort to fulfill orders as quickly as possible, but
            sometimes life throws us a curveball. (Ahem, Covid-19.) If we are
            experiencing longer than usual processing times, we will notify you
            either on our site or by email.
        </p>

        <h3 id="shipping-rates-and-timing">Shipping Rates & Timing</h3>
        <p>
            Cara is pleased to offer customers free shipping on all orders. An
            estimate of the time it takes to deliver your order will be provided
            on our website. Please remember that the time it takes to process your
            order is a separate estimate from the time it takes to ship and
            deliver your order.
        </p>
        <p>
            Cara has multiple shipping rates, depending on either the product or
            the shipping method chosen. The shipping charge will be calculated and
            displayed during checkout. An estimate of the time it takes to deliver
            your order will be provided on our website. Please remember that the
            time it takes to process your order is a separate estimate from the
            time it takes to ship and deliver your order.
        </p>

        <h2 id="tracking-your-order">Tracking Your Order</h2>
        <p>
            When your order has shipped, we will send you an email with tracking
            info so you can check in on the delivery of your order. If you don’t
            receive this email in a timely fashion, please reach out to us at
            azmoodcompany@gmail.com.
        </p>

        <h3 id="lost-stolen-or-damaged-orders">
            Lost, Stolen, or Damaged Orders
        </h3>
        <p>
            First, we sincerely apologize for the inconvenience this may have
            caused. We want your experience at www.cara.com to be positive. If
            your order has arrived damaged, or has been stolen or lost in transit,
            please contact us at azmoodcompany@gmail.com immediately so we can
            look into the matter for you.
        </p>

        <h3 id="how-to-contact-us">How to Contact Us</h3>
        <p>
            If you have any questions or concerns regarding your order or the
            shipping options available, please contact us at
            azmoodcompany@gmail.com.
        </p>
    </div>
</section>

